# Python
__pycache__/
*.pyc

# Database
database/*
!database/.gitkeep
!database/backups/
database/backups/*
!database/backups/.gitkeep

# Logs
data/logs/*
!data/logs/.gitkeep

# Raw Transactions
data/new_raw_transactions/*
!data/new_raw_transactions/nordnet/
!data/new_raw_transactions/saxo/

# Keep subfolder structure
data/new_raw_transactions/nordnet/*
!data/new_raw_transactions/nordnet/.gitkeep
data/new_raw_transactions/saxo/*
!data/new_raw_transactions/saxo/.gitkeep

# Virtual environment
.venv/
env/
venv/
